@import './layout.scss';

#header {
    position: relative;

    .container {
        width: 100%;
        min-height: 100vh;
        height: auto;
        background: linear-gradient(#ecb607fa, #ecb607c9), url(../images/texture-unsplash.jpg) center/cover no-repeat;
        position: relative;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-gap: 2em;

        .header-img {
            position: absolute;
            top: 62%;
            left: 8%;
            max-width: 8.2em;
            height: auto;
            transform: rotate(-15deg);
        }

        .section-title {
            font-size: 3rem;
            letter-spacing: 1px;
        }

        .section-title {
            font-family: 'Playfair Display', serif;
        }

        @media (max-width: 420px) {
            .header-img {
                max-width: 5.6em;
                top: 75%;
            }
        }
    }
}