@import './layout.scss';

#skills {
    overflow: hidden;

    .container {
        position: relative;
        width: 100vw;
        min-height: 100vh;
        background:  $primary;
        display: grid;
        grid:
            ". heading heading ." auto
            ". item1 item2 ." auto
            ". btn btn ." /
            5em 1fr 1fr 5em;
        justify-items: center;
        align-content: space-around;
        grid-gap: 2em;
        // clip-path: polygon(100% 0, 100% 84%, 100% 100%, 100% 76%, 0 67%, 0 0);
        padding-bottom: 2rem;

        .skills-img {
            position: absolute;
            top: -2em;
            left: -0.8em;
            width: 26%;
            transform: rotate(-30deg);
        }

        .skills__heading {
            grid-area: heading;
            display: grid;
            grid-gap: 4.2em;
            width: 80%;
            justify-content: center;
        }

        .section-title {
            color: $secondary;
        }

        .section-desc {
            color: $gray-900;
            z-index: 100;
            width: 65%;
            margin: 0 auto;
            padding: 0 20px;
            border-left: 2px solid $secondary;

            em {
                color: $secondary;
                font-weight: 700;
            }
        }

        .skills__item {
            width: 35%;

            // .folder__thumb {
            //     width: 25%;
            // }
        }

        .skills__item--1 {
            grid-area: item1;
        }

        .skills__item--2 {
            grid-area: item2;
        }

        .folder {
            position: relative;
            z-index: 200;
        }

        .folder:hover .folder__preview--thumb {
            opacity: 1;
            transform: translate(50%, 50%) scale(1);
        }

        .folder__feedback {
            position: absolute;
            width: $folder-width;
            height: $folder-width;
            border-radius: 50%;
            background: darken($primary, 18%);
            top: 50%;
            left: 50%;
            margin: calc(#{$folder-width} / -2 + #{$folder-slip-height} / 2) 0 0 calc(#{$folder-width} / -2);
            pointer-events: none;
            opacity: 0;
        }

        .folder__preview {
            position: absolute;
        }

        .folder__preview--thumb {
            width: #{$thumb-width};
            height: #{$thumb-width};
            top: calc((#{$folder-height} + #{$folder-slip-height}) / 2 - #{$thumb-width} / 2);
            left: calc(#{$folder-width} / 2 - #{$thumb-width} / 2);
        }

        .folder__thumb {
            max-width: 100%;
            width: 25%;
            display: inline-block;
            // position: absolute;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }

        .folder__icon {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
            transform: scale(1, 1) translate3d(0, 0, 0);
            @include transition-ease;

            .fa-icons {
                display: block;
                color: lighten($primary, 5%);
                width: 18%;
                height: auto;
                position: relative;
            }

            .fa-code {
                top: 350%;
            }

            .fa-image {
                top: 300%;
            }

            &:hover {
                transform: scale(.8, .8) translate3d(0, 0, 0);
            }

            .st0 {
                fill: darken($primary, 15%);
            }

            .st1 {
                fill: darken($primary, 10%);
                cursor: pointer;
            }
        }

        .folder__caption {
            color: darken($primary, 20%);
            text-align: start;
        }

        .btn {
            grid-area: btn;
        }
    }
}