@import './layout.scss';

#skills {
    overflow: hidden;

    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        background:  $primary;
        display: grid;
        grid:
            ". heading heading ." auto
            ". item1 item2 ." auto
            ". btn btn ." /
            5em 1fr 1fr 5em;
        justify-items: center;
        align-content: space-around;
        grid-gap: 2em;
        padding-bottom: 2rem;

        .skills-img {
            position: absolute;
            top: -2em;
            left: -0.8em;
            width: 26%;
            transform: rotate(-30deg);
        }

        .skills__heading {
            grid-area: heading;
            display: grid;
            grid-gap: 4.2em;
            width: 80%;
            justify-content: center;
            margin-top: 5rem;
        }

        .section-title {
            color: $secondary;
        }

        .section-desc {
            color: $gray-900;
            z-index: 100;
            width: 65%;
            margin: 0 auto;
            padding: 0 20px;
            border-left: 2px solid $secondary;

            em {
                color: $secondary;
                font-weight: 700;
            }
        }

        .skills__item {
            width: 35%;
        }

        .skills__item--1 {
            grid-area: item1;
        }

        .skills__item--2 {
            grid-area: item2;
        }

        .folder {
            position: relative;
            z-index: 200;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .folder__preview--thumb {
            width: #{$thumb-width};
            height: #{$thumb-width};
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            opacity: 0;
            transform: rotate(12deg) scale(1.2);
            @include transition-ease;
        }

        .show {
            opacity: 1;
            transform: rotate(0) scale(1);
        }

        .show2 {
            opacity: 1;
        }

        .folder__thumb {
            max-width: 100%;

        }

        .folder__icon {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
            transform: scale(1, 1) translate3d(0, 0, 0);
            @include transition-ease;

            .fa-icons {
                display: block;
                color: lighten($primary, 5%);
                width: 18%;
                height: auto;
                position: relative;
            }

            .fa-code {
                top: 350%;
            }

            .fa-image {
                top: 300%;
            }

            &:hover {
                transform: scale(.8, .8) translate3d(0, 0, 0);
            }

            .st0 {
                fill: darken($primary, 15%);
            }

            .st1 {
                fill: darken($primary, 10%);
                cursor: pointer;
            }
        }

        .folder__caption {
            color: darken($primary, 20%);
            text-align: start;
        }

        .btn {
            grid-area: btn;
        }

        @media (max-width: 650px) {
            height: initial;
            grid:
                "heading" auto
                "item1" auto
                "item2" auto
                "btn" /
                1fr;

            .skills-img {
                width: 45%;
                top: 0;
                left: -1.8em;
            }

            .section-desc {
                width: 85%;
                font-size: 1em;
            }
        }
    }
}